<html>
    <body>
        <form action="">
            <label for="title">blog title </label>
            <input  type="text">s </input>
            <label for="snippets"> blog snippet</label>
            <input type="text"  id="snippets" / >
            <textarea id="body"></textarea>
            <button>submit</button>
        </form>
        <div>
            <% ('/paetials/blog') %?>
        </div>
    </body>
</html>